<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Productos por Precio</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <section>
            <h1>Productos con Precio Mayor a [[${precio}]]</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="producto : ${productos}">
                        <td th:text="${producto.nombre}">Nombre</td>
                        <td th:text="${producto.descripcion}">Descripción</td>
                        <td th:text="${producto.precio}">Precio</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>